h1 {
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;

}

form {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.wrap {
    display: flex;
}

.searching {
    display: flex;
    align-items: center;
}

.searchbar {
    gap: 10px;
    align-self: center;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control {
    width: 300px;

    padding: 0.375rem 0.75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;


    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* filter btn */

h2 {
    font-size: 1em;
    font-weight: 100;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

input[type="checkbox"] {
    display: none;
}

.wrap-switch {
    height: 2em;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#checkbutton {
    width: 3em;
    height: fit-content;


    padding: 1em;
    background-color: gray;
    border-radius: 350px;
    cursor: pointer;

    transform: scale(0.4);
    transition: all 0.5s ease;
}

#knob {
    width: 1.5em;
    height: 1.5em;

    background-color: white;
    background-size: 1em;

    position: relative;
    top: 0;
    left: 0;

    border-radius: 50px;
    transition: 0.4s ease left;

    z-index: 2;
}


#checkbox1:checked+#checkbutton #knob,
#checkbox2:checked+#checkbutton #knob {
    left: 2em;
}

#checkbox1:checked+#checkbutton,
#checkbox2:checked+#checkbutton {
    background-color: rgb(138, 140, 239);
    transition: all 0.5s ease;
}

/* btn */

.btn {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;

    border: 1px solid rgb(244, 241, 241);
    color: rgb(244, 241, 241);
    background-color: rgb(0, 0, 0);
    text-decoration: none;

    padding: 10px 20px;

}

.btn:hover {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #1B1C1E;
    background-color: rgb(244, 241, 241);
    color: #1B1C1E;
    transition: 0.8s ease-in;
}

/* error message */

h3 {
    font-weight: 100;

    height: 10vh;
    text-align: center;
}

.prop {
    font-style: italic;
    color: #8A8CEF;

}

/* template card */

.template {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;

    margin: auto;

    justify-content: center;
}


.card>img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;

    width: 300px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;

    padding: 20px;

    border: white 1px solid;

    background-color: #e1b993c7;
}

h4 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    margin-top: 10px;
    font-size: 1.8em;

    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

/* morebtn */

.morebtn {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border: 1px solid rgb(244, 241, 241);
    color: rgb(244, 241, 241);

    text-decoration: none;

    padding: 10px;
    width: fit-content;
}

.morebtn:hover {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border: 1px solid rgb(244, 241, 241);
    background-color: rgb(244, 241, 241);
    color: #e1b993c7;

    text-decoration: none;

    padding: 10px;
    width: fit-content;
}



/* media query width 768px*/

@media (max-width:768px) {
    h1 {
        margin: 0;
    }
}